.shop-container{
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.product-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  margin: 80px;
}
.btn-proceed{
  background: #FF9900;
  width: 95%;
  height: 56px;

  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

